@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "variables";

.scope-app {
  .list-item_wrapper {
    position: relative;
    // border-bottom: 0.0625rem solid $line-light;
    border: 0.0625rem solid $line-light;
    margin-bottom: 1rem;
    border-radius: $radius-sm;

    .list-item_name {
      padding: 1rem;

      > label {
        display: block;
      }
    }

    .item-state-input {
      position: absolute;
      left: -5rem;

      &:checked + .list-item_name + .list-item_params,
      &:hover + .list-item_name + .list-item_params {
        opacity: 1;
        max-height: 18rem;
        transition: opacity 1s ease-in, max-height 0.5s ease-in;
      }

      &:checked + .list-item_name {
        background-color: $line-light;
      }
    }

    .list-item_params {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 1s ease-in, max-height 0.5s ease-in;
    }

    .list-item_params-inner {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }

    .list-item_params-author {
      display: flex;
    }

    .list-item_params-text {
      @include media-breakpoint-up(sm) {
        display: flex;
        flex: 1;
      }

      > div {
        width: 30%;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        font-size: 1.25rem;

        @include media-breakpoint-up(sm) {
          margin-bottom: unset;
        }
      }

      .param-label {
        display: block;
        font-size: 0.75rem;
      }
    }

    .list-item_params-image {
      img {
        width: 6.25rem;
        //padding-bottom: 76%;
      }
    }
  }
}


