@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.scope-app {
  .search-box_wrapper {
    display: block;
    align-items: flex-end;

    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }

  .search-box_cell {
    margin-right: 1rem;
  }

  .search-box_regex {
    position: relative;
    top: -0.4rem;
  }

  .search-box_submit {
    position: relative;
    top: -1rem;

    .btn-success {
      width: 100%;
    }
  }
}