/* text colors */
$text-primary: #007bff;
$text-secondary: #6c757d;
$text-light: #fff;

/* background colors */
$bg-primary: #007bff;
$bg-secondary: #6c757d;

/* line colors */
$line-light: #f0f0f0;

/* border radius */
$radius-sm: 0.25rem;