@import "variables";
@import "search_box";
@import "books_list";
@import "list_item";

.signal {
  border: 1px solid red;
}

body, html, #root, .scope-app {
  height: 100vh;
  background-color: $bg-secondary;
}

.scope-app {
    display: flex;
    flex-direction: column;

  .head-part {
    background-color: white;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid $line-light;

    .h1 {
      padding: 1rem 0;
    }
  }

  .content-part {
    flex: 1;
    overflow: auto;
    background-color: white;
  }

  .footer-part {
    .footer-part_text {
      padding: 1rem;
      color: $text-light;
    }
  }
}

